/* Police */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Variable */
:root {
    --clr-police: #000000;
    --clr-background: #ffffff;
    --border-radius-small: 20vh;
    --border-radius-tall: 15px;
    --transition-cubic: cubic-bezier(.5,.01,.5,1);
    --container-width: 1100px;
    --container-padding: 15px;
}

/* AOS */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s cubic-bezier(.5,.01,.5,1);
  }
  
  [data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
  }

/* Paramètre de base */
*,
::before,
::after {
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
}

/* Body */
body {
    background-color: var(--clr-background);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Container */
.container {
    width: calc(100% - var(--container-padding)*2);
    box-sizing: border-box;
    max-width: calc(var(--container-width) - var(--container-padding)*2);
    margin: 0px auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
} 

/* Titre */
h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 28px;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    font-weight: 500;
}

h6 {
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.secondary-text {
    font-size: 14px;
    font-weight: 400;
}

/* header */
.Entete {
    z-index: 9999;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

nav{
    /*background: var(--clr-background);  */
   height: 35%;    
    width: 90%;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li a, nav ul li{
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
    color: var(--clr-police);
}

#formBtn {
    background-color: var(--clr-background);
    color: var(--clr-police);
    border: none;
    padding: 10px 30px;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.4s cubic-bezier(.5,.01,.5,1);
}

nav ul #formBtn i {
    font-size: 0rem;
    color: var(--clr-background);
    transform: translateX(-50%); 
    opacity: 0;
    transition: all 0.4s cubic-bezier(.5,.01,.5,1);
}

nav ul #formBtn a {
    text-decoration: none;
    color: var(--clr-police);
    font-size: 1.5rem;
    transition: all 0.4s cubic-bezier(.5,.01,.5,1);
}

nav ul #formBtn:hover {
    color: var(--clr-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--clr-police);
}

nav ul #formBtn:hover i {
    opacity: 1; 
    font-size: 1.5rem;
    transform: translateX(10px);
}

nav ul #formBtn:hover > a {
    color: var(--clr-background);   
}

#title {
    opacity: 1;
    transition: opacity 0.4s cubic-bezier(.5,.01,.5,1);
    cursor: pointer;
}

section {
    width: 50%;
    margin: 0 auto;
}

header{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentationText {
    min-width: 40%;
    padding: 10vh;
}

.presentationImg {
    min-width: 40%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentationImg img {
    width: 70%;
    object-fit: cover;
    border-radius: var(--border-radius-tall);
    -webkit-box-shadow: 5px 5px 20px 10px rgba(190, 190, 190, 0.9); 
    box-shadow: 5px 5px 20px 10px rgba(190, 190, 190, 0.9);
}

header p {
    width: 90%;
    text-align: justify;
}

#Me {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#Me > img {
    width: 40%;
    object-fit: cover;
    border-radius: var(--border-radius-tall);
    -webkit-box-shadow: 5px 5px 20px 10px rgba(190, 190, 190, 0.9); 
    box-shadow: 5px 5px 20px 10px rgba(190, 190, 190, 0.9);
}

#Me div {
    max-width: 50%;
    text-align: justify;
}

#Me > div > img{
    margin: 20px;
    width: 30%;
} 

#Me h1 {
    margin-bottom: 1rem;
    font-size: 64px;
}

/* Skills */
#Skills {
    height: 30vh;
}
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 100px;
    margin: 0 40px;
  }